<div id="navbar" class="navbar-fixed scrollspy">
  <nav  class="white">
    <div class="nav-wrapper container">
      <div class="container"> <a href="#navbar" class="brand-logo">Osman & Afan</a></div>
    
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="head-link" href="#projects">About Us</a></li>
        <li><a class="head-link" href="#aboutus">Projects</a></li>
        <li><a class="head-link" href="#aboutus">Calendar</a></li>
        <li><a class="head-link" href="#contactus">Contact Us</a></li>
      </ul>
      <ul class="right side-nav" id="mobile-demo">
        <li><a class="head-link" href="#projects">About Us</a></li>
        <li><a class="head-link" href="#aboutus">Projects</a></li>
        <li><a class="head-link" href="#aboutus">Calendar</a></li>
        <li><a class="head-link" href="#contactus">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>